<list-navigator [sortList]="sortList" (sorted)="sort($event)">
  <ng-container title>Articles</ng-container>
</list-navigator>
<main class="flex-grow-1">
  <div class="row g-1 pt-2" *ngIf="localArticles.length">
    <div class="col-12 col-md-4 " *ngFor="let article of page">
      <article [article]="article" (deleteArticle)="requestDeleteArticle($event)" class="card"
               (uploadArticle)="uploader.upload($event)"></article>
    </div>
  </div >
  <div *ngIf="!localArticles.length">
    <h1 class="text-muted display-1">No Articles to show</h1>
    <p class="lead">You have not created any articles so far .<br> Click on <code>New Article</code> above to get started!</p>
  </div>
  <upload-article #uploader class="col-12"></upload-article>
</main>
<footer class="mt-3">
  <div class="modal fade" id="confirm-delete-local-article" tabindex="-1" aria-labelledby="confirm-delete-local-article"
       aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header py-1 text-danger">
          <h5 class="modal-title">Confirm Article deletion</h5>
          <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center text-muted">
          <h4 class="text-truncate">{{articleToDelete?.title | titlecase}}</h4>
          <small>This action is not reversible</small>
        </div>
        <div class="modal-footer py-1">
          <button type="button" class="btn btn-outline-secondary btn-sm me-auto" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal"
                  (click)="confirmDeleteArticle()">Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <list-paginator *ngIf="localArticles.length > articlesPerPage" [numberOfPages]="numberOfPages"
                  (page)="updatePage($event)" @fadeInOut></list-paginator>
</footer>

