<main class="container pt-3">
  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <i class="bi bi-info-circle me-2" style="color: red; font-size: 1.2rem"></i> The following works have not been saved
    and are not available remotely
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="row g-5">
    <article-list class="col-12 col-md-6"></article-list>
    <local-series-list class="col-12 col-md-6"></local-series-list>
  </div>
</main>
