<ul class="nav container">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/']">Home<i class="bi"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/editor']" routerLinkActive="active">Create Article</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/series-editor']">New Series</a>
  </li>
<!--  <li class="nav-item">-->
<!--    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Users</a>-->
<!--  </li>-->
</ul>
