<main>
  <section class="container pt-3">
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
      <i class="bi bi-info-circle me-2" style="color: red; font-size: 1.2rem"></i> The following works have not been saved and are not available remotely
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row g-5">
      <article-list class="col-12 col-md-6"></article-list>
      <local-series-list class="col-12 col-md-6"></local-series-list>
    </div>
  </section>
<!--  <section class="py-3">-->
<!--    <header class="container text-primary py-3">-->
<!--      <h2>Saved work</h2>-->
<!--    </header>-->
<!--    <main class="container">-->
<!--      <nav class="">-->
<!--        <div class="nav nav-tabs nav-pills nav-fill" id="nav-tab" role="tablist" style="border-bottom: 0px">-->
<!--          <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"-->
<!--             aria-controls="nav-home" aria-selected="true">Articles</a>-->
<!--          <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"-->
<!--             aria-controls="nav-profile" aria-selected="false">Series</a>-->
<!--        </div>-->
<!--      </nav>-->
<!--      <div class="tab-content" id="nav-tabContent" style="min-height: 800px">-->
<!--        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">-->
<!--          <saved-article-list></saved-article-list>-->
<!--        </div>-->
<!--        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">-->
<!--          <p>clicked profile</p>-->
<!--          <p>clicked profile</p>-->
<!--          <p>clicked profile</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </main>-->
<!--  </section>-->
</main>
