<h3 class="text-center">New User</h3>
<form class="row g-3">
  <h4>Account information</h4>
  <p class="col-12 my-0">
    The information on this section is required.
  </p>
  <div class="col-md-4">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username">
  </div>
  <div class="col-md-5">
    <label for="primaryEmail" class="form-label">Primary Email</label>
    <input type="email" class="form-control" id="primaryEmail">
  </div>
  <div class="col-md-3">
    <label for="role" class="form-label">Role</label>
    <select class="form-select" aria-label="Default select example" id="role">
      <option value="1">Admin</option>
      <option value="2">Editor</option>
      <option value="3">Author</option>
    </select>
  </div>
  <h4 class="col-12 mt-5">Profile Information</h4>
  <p class="col-12 my-0">Information in this section is not required</p>
  <div class="col-md-6">
    <label for="firstName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstName">
  </div>
  <div class="col-md-6">
    <label for="lastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastName">
  </div>
  <div class="col-12">
    <label for="bio" class="form-label">Bio</label>
    <textarea class="form-control" id="bio" placeholder="Apartment, studio, or floor" rows="4"></textarea>
  </div>
<!--  <div class="col-md-6">-->
<!--    <label for="inputCity" class="form-label">City</label>-->
<!--    <input type="text" class="form-control" id="inputCity">-->
<!--  </div>-->
<!--  <div class="col-md-4">-->
<!--    <label for="inputState" class="form-label">State</label>-->
<!--    <select id="inputState" class="form-select">-->
<!--      <option selected>Choose...</option>-->
<!--      <option>...</option>-->
<!--    </select>-->
<!--  </div>-->
<!--  <div class="col-md-2">-->
<!--    <label for="inputZip" class="form-label">Zip</label>-->
<!--    <input type="text" class="form-control" id="inputZip">-->
<!--  </div>-->
<!--  <div class="col-12">-->
<!--    <div class="form-check">-->
<!--      <input class="form-check-input" type="checkbox" id="gridCheck">-->
<!--      <label class="form-check-label" for="gridCheck">-->
<!--        Check me out-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->
  <div class="col-12 d-grid">
    <button type="submit" class="btn btn-primary btn-lg disabled">Create Account</button>
  </div>
</form>
