<main (keydown.control.s)="$event.preventDefault(); saveArticle()" class="">
  <section class="container pt-3">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title d-inline">Article Editor</h5>
        <div class="btn-group btn-group-sm float-end" role="group" aria-label="Save">
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm" type="button" (click)="saveArticle()">Save <i
              class="bi bi-cloud-upload ms-1"></i></button>
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
              <li><a class="dropdown-item">Save Local</a></li>
              <li><a class="dropdown-item">Save & Publish</a></li>
              <li><a class="dropdown-item">Something</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body p-2">
        <div class="d-flex justify-content-center h-100 align-items-center" *ngIf="!editorReady">
          <div class="spinner-border align-middle" role="status" style="width: 5rem; height: 5rem;">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div id="article-header" [hidden]="!editorReady">
          <div class="input-group input-group-sm mb-2" id="article-title">
            <input type="text" class="form-control" placeholder="Article Title" aria-label="Article Title" [formControl]="articleTitle">
            <button class="btn btn-outline-primary text-muted" type="button" (click)="articleTags()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Article Tags"><i class="bi bi-tag"></i></button>
            <button class="btn btn-outline-primary text-muted" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hero Image" (click)="heroImageSelect.click()"><i class="bi bi-image"></i></button>
          </div>
          <input type="file" accept="image/*" hidden #heroImageSelect (change)="uploadHeroImage($event)">
        </div>
        <div hero-image id="hero-image" *ngIf="articleHeroImage && editorReady" [imageFile]="articleHeroImage" (removeCoverImage)="articleHeroImage=undefined" @growShrink class="d-flex flex-column"></div>
        <div id="article-body">
          <app-editorjs (loaded)="editorReady = true" (changed)="editorChanged = true" [placeholder]="'Click to start typing'" [blocks]="article?.content"></app-editorjs>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Article Tags</h5>
            <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body row">
            <div class="col">
              <h6>Programming languages</h6>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="linux">
                <label class="form-check-label" for="linux">Linux</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="py" checked>
                <label class="form-check-label" for="py">Python</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="js" checked>
                <label class="form-check-label" for="js">Javascript</label>
              </div>
            </div>
            <div class="col">
              <h6>Frontend Frameworks</h6>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="vue">
                <label class="form-check-label" for="vue">Vue</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="angular" checked>
                <label class="form-check-label" for="angular">Angular</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="react" checked>
                <label class="form-check-label" for="react">React</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flutter" checked>
                <label class="form-check-label" for="flutter">Flutter</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="toast align-items-center text-white bg-danger border-0 " role="alert" aria-live="assertive"
       aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
              aria-label="Close"></button>
    </div>
  </div>
  <div class="toast-container">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="emptyEditorToast">
      <div class="toast-header">
        <!--        <img src="..." class="rounded me-2" alt="...">-->
        <strong class="me-auto">Bootstrap</strong>
        <small class="text-muted">just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        See? Just like this.
      </div>
    </div>
  </div>
</main>
