.card-body {
  height: 70vh;
  overflow-y: scroll;
  /*color: black;*/
  width: 100%;
}
#article-header, #article-body {
  font-family: 'DejaVu Serif';
}

#article-header, #hero-image {
  max-width: 650px;
  margin: 0 auto;
}
#hero-image {
  height: 40vh;
  max-width: 900px;
}
