//ENA African Rich
$ena-purple: #73335B;
$ena-purple-dark-1: #682e52;
$ena-purple-dark-2: #5c2949;
$ena-purple-dark-3: #512440;
$ena-purple-dark-4: #451f37;
$ena-purple-dark-5: #3a1a2e;
$ena-purple-dark-6: #2e1424;
$ena-purple-dark-7: #220f1b;
$ena-purple-dark-8: #170a12;
$ena-purple-dark-9: #0b0509;

$ena-purple-light-1: #81476b;
$ena-purple-light-2: #8f5c7c;
$ena-purple-light-3: #9d708c;
$ena-purple-light-4: #ab859d;
$ena-purple-light-5: #b999ad;
$ena-purple-light-6: #c7adbd;
$ena-purple-light-7: #d5c2ce;
$ena-purple-light-8: #e3d6de;
$ena-purple-light-9: #f1ebef;


$ena-brown: #90363E;
$ena-red: #CC423A;
$ena-orange: #FF8733;
$ena-yellow: #FFC345;

$primary:       $ena-purple !default;
$secondary:     $ena-yellow !default;
$danger:        $ena-red !default;
$light:         $ena-purple-light-7 !default;
$dark:          $ena-purple-dark-2 !default;

