
@import "variables";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

app-root > .app-page, login, dashboard {
  flex: 1 1 auto;
}

login {
  display: flex;
}

.editor-image-elem img {
  max-height: 400px;
  width: 100%;
  object-fit: contain;
}
.editor-image-elem .image-caption{
  font-style: italic;
  margin: 0;
  padding: 0.4em 0;
}

.ce-toolbox__button svg {
  color: $ena-orange;

}
//class="ce-toolbox__button ce-toolbox__button--active"
//class="ce-toolbox__button ce-toolbox__button--active"
