<div class="card">
  <div class="card-header d-inline-flex">
    <h5 class="card-title py-1 my-auto me-auto">Series Articles</h5>
    <button type="button" class="btn btn-secondary btn-sm" (click)="openAddArticleDialog()"><i class="bi bi-plus"></i>Add</button>
  </div>
  <ol class="list-group list-group-numbered list-body" *ngIf="seriesArticles?.length; else no_content">
    <series-article *ngFor="let article of seriesArticles" [seriesArticle]="article" (moveDown)="moveArticleDown($event)" (moveUp)="moveArticleUp($event)" (remove)="removeArticle($event)"></series-article>
  </ol>
  <ng-template #no_content>
    <div class="card-body list-body" >
      <h3 class="text-muted">This series has no articles added to it.</h3>
      <p>Click add above to add one.</p>
    </div>
  </ng-template>
</div>

<div class="modal fade" tabindex="-1" id="add-articles-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Available Articles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <ul class="list-group modal-body" *ngIf="availableArticles.length;else noContent">
        <li class="list-group-item" *ngFor="let availableArticle of availableArticles">
          <label>
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." (change)="setArticleTobeAdded($event, availableArticle)"> {{availableArticle.title | titlecase}}
          </label>
        </li>
      </ul>
      <ng-template #noContent>
        <div class="modal-body">
          <h3 class="text-muted text-center">No articles available.</h3>
        </div>
      </ng-template>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-primary me-auto" [routerLink]="['/editor']">Create new Article</button>
        <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal" (click)="closeAddArticleDialog()">Cancel</button>
        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal" (click)="addArticles()">Save</button>
      </div>
    </div>
  </div>
</div>
