<section>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title d-inline mt-3">{{article.title}}</h5>
      <div class="btn-group btn-group-sm float-end" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
<!--        <button type="button" class="btn btn-primary">Right</button>-->
      </div>
    </div>
    <div class="card-body">
      <div class="content" [innerHTML]="parsedArticle">

      </div>
    </div>
  </div>
  <header>
  </header>
<!--  <main class="">-->
<!--    <article [innerHTML]="parsedArticle"></article>-->
<!--  </main>-->
</section>
