<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand">Shelf</a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list text-white" style="font-size: 1.5rem"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-9 mb-lg-0">
        <li class="nav-item me-4"><a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Workspace<i class="bi bi-card-list ms-1"></i></a></li>
<!--        <li class="nav-item dropdown me-4">-->
<!--          <a class="nav-link" href="#" id="createDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Create <i class="bi bi-pen ms-1"></i></a>-->
<!--          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">-->
<!--            <li><a class="dropdown-item" routerLink="editor">Article</a></li>-->
<!--            <li><a class="dropdown-item" routerLink="series-editor">Series</a></li>-->
<!--          </ul>-->
<!--        </li>-->
        <li class="nav-item me-3"><a class="nav-link" [routerLink]="['site']" routerLinkActive="active">Sites<i class="bi bi-newspaper ms-1"></i></a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item me-3"><a routerLink="/account" class="btn btn-sm btn-primary"><i class="bi bi-person-fill"></i>Account</a></li>
<!--        <li class="nav-item"><a routerLink="/auth/login" class="btn btn-sm btn-primary">Logout <i class="bi bi-power"></i></a></li>-->
      </ul>
    </div>
  </div>
</nav>
