<main class="container pt-2 app-page d-flex flex-column">
<!--  <div class="alert alert-secondary alert-dismissible fade show" role="alert">-->
<!--    <i class="bi bi-info-circle me-2" style="color: red; font-size: 1.2rem"></i> The following works have not been saved-->
<!--    and are not available remotely-->
<!--    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--  </div>-->
  <div class="row g-4 flex-grow-1">
    <article-list class="col-12 col-md-8 d-flex flex-column"></article-list>
    <local-series-list class="col-12 col-md-4"></local-series-list>
  </div>
</main>
