<section class="container pt-2">
  <header class="mb-2">
    <ul class="nav">
      <li class="nav-item d-flex align-items-center">
        <span class="navbar-brand text-primary">Configuration</span>
      </li>
      <!--      <li class="nav-item dropdown ms-auto">-->
      <!--        <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Add User <i class="bi bi-plus"></i></a>-->
      <!--        <ul class="dropdown-menu">-->
      <!--          <li><a class="dropdown-item" href="#">Send Email</a></li>-->
      <!--          <li><a class="dropdown-item" routerLink="create">Create Account</a></li>-->
      <!--          <li><a class="dropdown-item" href="#">Something else here</a></li>-->
      <!--          <li><hr class="dropdown-divider"></li>-->
      <!--          <li><a class="dropdown-item" href="#">Separated link</a></li>-->
      <!--        </ul>-->
      <!--      </li>-->
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link" href="#">Link</a>-->
      <!--      </li>-->
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
      <!--      </li>-->
    </ul>
  </header>
  <h2>Feature coming soon</h2>
  <router-outlet></router-outlet>
</section>

