.card-title, .upload-local-article-icon, .delete-local-article-icon{
  cursor: pointer;
}
.upload-local-article-icon, .delete-local-article-icon {
  font-size: 1.2rem;
}
.delete-local-article-icon {
  transition: color 0.25s;
}
.delete-local-article-icon:hover {
  color: var(--bs-red) !important;
}
abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.article-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.article-thumbnail {
  height: 100px;
}
