<section class="container pt-2">
  <header class="mb-2">
    <ul class="nav">
      <li class="nav-item d-flex align-items-center">
        <span class="navbar-brand text-primary">Users</span>
      </li>
      <li class="nav-item ms-auto">
        <a class="nav-link" href="#">Add New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </header>
  <users-list></users-list>
</section>
