<section class="container pt-2">
  <header class="mb-2">
    <ul class="nav">
      <li class="nav-item d-flex align-items-center">
        <span class="navbar-brand text-primary">Dashboard</span>
      </li>
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link" href="#">Link</a>-->
      <!--      </li>-->
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
      <!--      </li>-->
    </ul>
  </header>
  <div *ngIf="connectedSites.length == 0">
    <h1>Welcome to Shelf Sites</h1>
    <p>Here, you can connect to a site and manage it and the content it contains</p>
    <p>To get started, click connect to site</p>
  </div>
  Welcome, {{currentSite?.user?.firstName}}
<!--  <router-outlet></router-outlet>-->
</section>
