.card-body {
  height: 70vh;
  overflow-y: scroll;
  font-family: 'DejaVu Serif';
  /*color: black;*/
  width: 100%;
}

#article-header, #hero-image {
  max-width: 650px;
  margin: 0 auto;
}
#hero-image img {
  height: auto;
  width: 100%;
}
